.nanny{
    color: white
}

.miniBioN{
    background-color: #C4C4C4;
    width: 50%;
    height: 50%;
    color: black; 
}

img{
    width: 10%;
    height: 10%;
    border: 5px solid #ddd;
    border-radius: 4px;
}